th{
    background-color: blue;
    color: white;
}
th, td, table{
    padding: 15px;
    border-collapse: collapse; 
    border-radius: 5px;
    border-color: lightgray;
    border-bottom: 2px;
}
.contable1{
    /* background-color: antiquewhite; */
    width: 70%;
    margin: auto;
    border-radius: 5px;
}
table{
    margin: auto;
    width: 80%;
}
tr:nth-child(even){
background-color: whitesmoke;

}
.fa-solid{
    background-color: green;
    padding: 5px 5px;
    border-radius: 4px;
    color: white;
    margin: 2px;
    border-radius: 3px;
}
.fa-solid.fa-xmark{
    background-color: red;
}
span{
    background-color: green;
    padding: 5px 5px;
    color: white;
    text-align: center;
    margin: 5px;
border-radius: 3px;
}
.fail{
    background-color: red;
    color: white;
    text-align: center;
    font-size:px;
    padding: 3px 10px;
}
tr:hover{
    background-color: lightgray;

}
.good{
    background-color: orange;
    color: white;
    text-align: center;
    font-size:px;
    padding: 3px 10px;
}
.verygood{
    background-color: blue;
    color: white;
    text-align: center;
    font-size:px;
    padding: 3px 10px;
}