.contable1{
    width: 80%;
    margin: auto;
}
table{
    margin: auto;
    width: 60%;
}
caption{
    width: 30%;
    margin: auto;
    background-color: orange;
    color: white;
    font-weight: bold;
    margin-top: 30px; 
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}
td:nth-child(1){
    background-color: blue;
    padding: 5px 30px;
    margin: 0px;
    color: white;
    text-align: center;
    font-weight: bold;
}
tr, td{
    padding: 10px;

}
td{
    margin: 20px;
}